force-app/main/default/flows/RMS_Ocean_Freight_Rate_Search_Fixed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <description>Fixed Ocean Freight Rate Search Flow - Correct lookup and variable handling</description>
    <label>RMS Ocean Freight Rate Search Fixed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>BuilderVersion</name>
        <value>
            <stringValue>240.0</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Input</targetReference>
        </connector>
    </start>
    <variables>
        <name>POL_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>POD_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContainerType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>API_Response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <screens>
        <name>Screen_Input</name>
        <label>Search Ocean Freight Rates</label>
        <locationX>50</locationX>
        <locationY>210</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>POL_Input</name>
            <fieldText>Port of Loading Code (e.g., INNSA, USNYC)</fieldText>
            <fieldType>DisplayText</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>POL_Code_Input</name>
            <fieldText>Enter POL Code:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>POD_Input</name>
            <fieldText>Port of Discharge Code (e.g., USLSA, USLAX)</fieldText>
            <fieldType>DisplayText</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>POD_Code_Input</name>
            <fieldText>Enter POD Code:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Container_Type_Input</name>
            <fieldText>Container Type (20GP, 40GP, 40HC, 45HC):</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <connector>
            <targetReference>Assignment_Set_Variables</targetReference>
        </connector>
    </screens>
    <assignments>
        <name>Assignment_Set_Variables</name>
        <label>Set Variables</label>
        <locationX>300</locationX>
        <locationY>210</locationY>
        <connector>
            <targetReference>Action_Call_API</targetReference>
        </connector>
        <assignmentItems>
            <assignToReference>POL_Code</assignToReference>
            <value>
                <elementReference>POL_Code_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POD_Code</assignToReference>
            <value>
                <elementReference>POD_Code_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContainerType</assignToReference>
            <value>
                <elementReference>Container_Type_Input</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <actionCalls>
        <name>Action_Call_API</name>
        <label>Call RMS API</label>
        <locationX>550</locationX>
        <locationY>210</locationY>
        <actionName>RMSOceanFreightRateAction.getOceanFreightRates</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen_Results</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <inputParameters>
            <name>polCode</name>
            <value>
                <elementReference>POL_Code</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>podCode</name>
            <value>
                <elementReference>POD_Code</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>containerType</name>
            <value>
                <elementReference>ContainerType</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>API_Response</assignToReference>
            <name>outputParameters</name>
        </outputParameters>
    </actionCalls>
        <screen>
            <name>Screen_Results</name>
            <label>Search Results</label>
            <locationX>800</locationX>
            <locationY>210</locationY>
            <allowBack>true</allowBack>
            <allowFinish>true</allowFinish>
            <allowPause>false</allowPause>
            <fields>
                <name>Results_Display</name>
                <fieldText>Search completed for: {!POL_Code} to {!POD_Code} ({!ContainerType})</fieldText>
                <fieldType>DisplayText</fieldType>
                <isRequired>false</isRequired>
                <scale>0</scale>
            </fields>
            <fields>
                <name>API_Response_Display</name>
                <fieldText>API Response: {!API_Response}</fieldText>
                <fieldType>DisplayText</fieldType>
                <isRequired>false</isRequired>
                <scale>0</scale>
            </fields>
            <showFooter>true</showFooter>
            <showHeader>true</showHeader>
        </screen>
        <screen>
            <name>Screen_Error</name>
            <label>Error</label>
            <locationX>800</locationX>
            <locationY>400</locationY>
            <allowBack>true</allowBack>
            <allowFinish>true</allowFinish>
            <allowPause>false</allowPause>
            <fields>
                <name>Error_Display</name>
                <fieldText>An error occurred while searching for rates. Please try again.</fieldText>
                <fieldType>DisplayText</fieldType>
                <isRequired>false</isRequired>
                <scale>0</scale>
            </fields>
            <showFooter>true</showFooter>
            <showHeader>true</showHeader>
        </screen>
    </screens>
    <status>Draft</status>
</Flow>
