n8n-salesforce-webhook-workflow-v2.json
{
  "name": "Salesforce RMS Integration V2 - Multi-Step Quote Flow",
  "nodes": [
    {
      "parameters": {
        "path": "salesforce-rms-v2",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-salesforce-v2",
      "name": "Salesforce Webhook V2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "salesforce-rms-v2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://13.204.127.113:3000/api/auth/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tenant_id",
              "value": "00000000-0000-0000-0000-000000000001"
            },
            {
              "name": "user_id",
              "value": "sf_00DBE000002eBzh"
            }
          ]
        },
        "options": {}
      },
      "id": "jwt-token-v2",
      "name": "Get JWT Token V2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.action}}",
              "operation": "equal",
              "value2": "search_rates"
            }
          ]
        }
      },
      "id": "route-search-rates",
      "name": "Route to Search Rates",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.action}}",
              "operation": "equal",
              "value2": "add_rate_to_quote"
            }
          ]
        }
      },
      "id": "route-add-rate",
      "name": "Route to Add Rate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.action}}",
              "operation": "equal",
              "value2": "create_quote"
            }
          ]
        }
      },
      "id": "route-create-quote",
      "name": "Route to Create Quote",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://13.204.127.113:3000/api/search-rates",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node[\"Get JWT Token V2\"].json.token}}"
            },
            {
              "name": "x-tenant-id",
              "value": "{{$node[\"Get JWT Token V2\"].json.tenant_id}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "pol_code",
              "value": "{{$node[\"Salesforce Webhook V2\"].json.pol_code}}"
            },
            {
              "name": "pod_code",
              "value": "{{$node[\"Salesforce Webhook V2\"].json.pod_code}}"
            },
            {
              "name": "container_type",
              "value": "{{$node[\"Salesforce Webhook V2\"].json.container_type}}"
            },
            {
              "name": "vendor_name",
              "value": "{{$node[\"Salesforce Webhook V2\"].json.vendor_name}}"
            }
          ]
        },
        "options": {}
      },
      "id": "call-search-rates-v2",
      "name": "Call RMS Search Rates API V2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://13.204.127.113:3000/api/v2/add-rate-to-quote",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node[\"Get JWT Token V2\"].json.token}}"
            },
            {
              "name": "x-tenant-id",
              "value": "{{$node[\"Get JWT Token V2\"].json.tenant_id}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "salesforce_org_id",
              "value": "{{$node[\"Salesforce Webhook V2\"].json.salesforce_org_id}}"
            },
            {
              "name": "rate_id",
              "value": "{{$node[\"Salesforce Webhook V2\"].json.rate_id}}"
            },
            {
              "name": "quote_session_id",
              "value": "{{$node[\"Salesforce Webhook V2\"].json.quote_session_id}}"
            }
          ]
        },
        "options": {}
      },
      "id": "call-add-rate-v2",
      "name": "Call RMS Add Rate to Quote V2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://13.204.127.113:3000/api/v2/prepare-quote",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node[\"Get JWT Token V2\"].json.token}}"
            },
            {
              "name": "x-tenant-id",
              "value": "{{$node[\"Get JWT Token V2\"].json.tenant_id}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "salesforce_org_id",
              "value": "{{$node[\"Salesforce Webhook V2\"].json.salesforce_org_id}}"
            },
            {
              "name": "quote_session_id",
              "value": "{{$node[\"Salesforce Webhook V2\"].json.quote_session_id}}"
            }
          ]
        },
        "options": {}
      },
      "id": "call-create-quote-v2",
      "name": "Call RMS Create Quote V2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "respond-search-rates",
      "name": "Respond Search Rates",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "respond-add-rate",
      "name": "Respond Add Rate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "respond-create-quote",
      "name": "Respond Create Quote",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{{\"success\": false, \"error\": \"Invalid action. Supported actions: search_rates, add_rate_to_quote, create_quote\"}}}"
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 500]
    }
  ],
  "connections": {
    "Salesforce Webhook V2": {
      "main": [
        [
          {
            "node": "Get JWT Token V2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get JWT Token V2": {
      "main": [
        [
          {
            "node": "Route to Search Rates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route to Add Rate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route to Create Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Search Rates": {
      "main": [
        [
          {
            "node": "Call RMS Search Rates API V2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route to Add Rate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Add Rate": {
      "main": [
        [
          {
            "node": "Call RMS Add Rate to Quote V2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route to Create Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Create Quote": {
      "main": [
        [
          {
            "node": "Call RMS Create Quote V2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call RMS Search Rates API V2": {
      "main": [
        [
          {
            "node": "Respond Search Rates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call RMS Add Rate to Quote V2": {
      "main": [
        [
          {
            "node": "Respond Add Rate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call RMS Create Quote V2": {
      "main": [
        [
          {
            "node": "Respond Create Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-15T12:00:00.000Z",
  "versionId": "2"
}
