n8n-salesforce-webhook-workflow.json
{
  "name": "RMS Salesforce Integration Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "salesforce-rms",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Salesforce Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "salesforce-rms-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "action-condition",
              "leftValue": "={{ $json.action }}",
              "rightValue": "prepare_quote",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-request",
      "name": "Route Request",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://13.204.127.113:3000/api/prepare-quote",
        "authentication": "none",
        "requestMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_JWT_TOKEN_HERE"
            },
            {
              "name": "x-tenant-id",
              "value": "00000000-0000-0000-0000-000000000001"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "salesforce_org_id",
              "value": "={{ $json.salesforce_org_id }}"
            },
            {
              "name": "pol_code",
              "value": "={{ $json.pol_code }}"
            },
            {
              "name": "pod_code",
              "value": "={{ $json.pod_code }}"
            },
            {
              "name": "container_type",
              "value": "={{ $json.container_type }}"
            },
            {
              "name": "container_count",
              "value": "={{ $json.container_count || 1 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "call-rms-api",
      "name": "Call RMS Prepare Quote API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "url": "http://13.204.127.113:3000/api/search-rates",
        "authentication": "none",
        "requestMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_JWT_TOKEN_HERE"
            },
            {
              "name": "x-tenant-id",
              "value": "00000000-0000-0000-0000-000000000001"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "pol_code",
              "value": "={{ $json.pol_code }}"
            },
            {
              "name": "pod_code",
              "value": "={{ $json.pod_code }}"
            },
            {
              "name": "container_type",
              "value": "={{ $json.container_type }}"
            },
            {
              "name": "vendor_name",
              "value": "={{ $json.vendor_name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "call-rms-search",
      "name": "Call RMS Search Rates API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "url": "http://13.204.127.113:3000/api/get-local-charges",
        "authentication": "none",
        "requestMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_JWT_TOKEN_HERE"
            },
            {
              "name": "x-tenant-id",
              "value": "00000000-0000-0000-0000-000000000001"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "pol_code",
              "value": "={{ $json.pol_code }}"
            },
            {
              "name": "pod_code",
              "value": "={{ $json.pod_code }}"
            },
            {
              "name": "container_type",
              "value": "={{ $json.container_type }}"
            },
            {
              "name": "vendor_name",
              "value": "={{ $json.vendor_name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "call-rms-local-charges",
      "name": "Call RMS Local Charges API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 600]
    },
    {
      "parameters": {
        "url": "http://13.204.127.113:3000/api/auth/token",
        "authentication": "none",
        "requestMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tenant_id",
              "value": "00000000-0000-0000-0000-000000000001"
            },
            {
              "name": "user_id",
              "value": "sf_00DBE000002eBzh"
            }
          ]
        },
        "options": {}
      },
      "id": "get-jwt-token",
      "name": "Get JWT Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "action-search",
              "leftValue": "={{ $json.action }}",
              "rightValue": "search_rates",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-search",
      "name": "Route to Search Rates",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "action-local",
              "leftValue": "={{ $json.action }}",
              "rightValue": "get_local_charges",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-local-charges",
      "name": "Route to Local Charges",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-to-salesforce",
      "name": "Respond to Salesforce",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"Invalid action\", \"supported_actions\": [\"prepare_quote\", \"search_rates\", \"get_local_charges\"] } }}",
        "options": {}
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 500]
    }
  ],
  "connections": {
    "Salesforce Webhook": {
      "main": [
        [
          {
            "node": "Route Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Request": {
      "main": [
        [
          {
            "node": "Call RMS Prepare Quote API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route to Search Rates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Search Rates": {
      "main": [
        [
          {
            "node": "Call RMS Search Rates API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route to Local Charges",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Local Charges": {
      "main": [
        [
          {
            "node": "Call RMS Local Charges API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call RMS Prepare Quote API": {
      "main": [
        [
          {
            "node": "Respond to Salesforce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call RMS Search Rates API": {
      "main": [
        [
          {
            "node": "Respond to Salesforce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call RMS Local Charges API": {
      "main": [
        [
          {
            "node": "Respond to Salesforce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-15T03:19:06.238Z",
      "updatedAt": "2025-10-15T03:19:06.238Z",
      "id": "salesforce",
      "name": "Salesforce"
    },
    {
      "createdAt": "2025-10-15T03:19:06.238Z",
      "updatedAt": "2025-10-15T03:19:06.238Z",
      "id": "rms",
      "name": "RMS"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-15T03:19:06.238Z",
  "versionId": "1"
}
